<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconViewStr</key>
		<string>icon-xiaozhi</string>
		<key>nameLabelStr</key>
		<string>小李</string>
		<key>contentLabelStr</key>
		<string>奥斯卡的机会轧空伤筋动骨那款手机的那个卡拉丁美V领开发大毛病莱卡棉风立刻把免费代理开宝马的浪费看明白了卡等方面</string>
		<key>timeLabelStr</key>
		<string>15分钟前 3.84Km</string>
	</dict>
	<dict>
		<key>iconViewStr</key>
		<string>icon-xiaozhi</string>
		<key>nameLabelStr</key>
		<string>小黑</string>
		<key>contentLabelStr</key>
		<string>啊是的噶是的噶数量的健康和噶开始对你可见更那啥的离开过那是看老大难公开栏SD卡老公呢</string>
		<key>timeLabelStr</key>
		<string>16分钟前 3.84Km</string>
	</dict>
	<dict>
		<key>iconViewStr</key>
		<string>icon-xiaoli</string>
		<key>nameLabelStr</key>
		<string>小黑</string>
		<key>contentLabelStr</key>
		<string>啊是的噶是的噶数量的健康和噶开始对你可见更那啥的离开过那是看老大难公开栏SD卡老公发生的客观讲哈开萨达公司都干撒的噶速度高始的两个立刻马上来打开没过来喀什的美国绿卡魔兽点卡了改名卡什么呢</string>
		<key>timeLabelStr</key>
		<string>16分钟前 3.84Km</string>
	</dict>
</array>
</plist>
